# Byte-compiled / optimized / DLL files
/__pycache__
__pycache__/
*.py[cod]
*$py.class

# Database
banco.db
*.sqlite3

# Environments
.venv/
env/
venv/
ENV/

# Secrets and Configs
.env

# IDEs
.vscode/
.idea/